body {
  font-family: 'roboto', sans-serif;
  color: #434455;
}
h1,
h2,
h3 {
  color: #2e2f42;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.logo {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 1.166;
  color: #2e2f42;
}
.web {
  color: #4d5ae5;
}
.navi {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.navi:hover,
.navi:focus {
  color: #404bbf;
}
.adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: currentColor;
}
.adress:hover,
.adress:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.hero-button {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.hero-button:hover {
  background-color: #404bbf;
}

.abaut-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.abaut-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.team {
  background: #f4f4fd;
}
.team-title {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-titles {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.portfolio {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.portfolio-titles {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.32px;
}
.footer {
  background-color: #2e2f42;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
